source ~/.bash_profile
export ORACLE_SID={{ oracle_sid }}
export ORACLE_HOME={{ new_oracle_home }}
export PATH=$PATH:$ORACLE_HOME/bin

cd $ORACLE_HOME/rdbms/admin
sqlplus -s sys as sysdba @catuppst.sql
